*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
html{
    font-size: 10px;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body, button{
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
}
main{
    min-height: 100vh;
    display: grid;
    place-content: center; 
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    width: 64rem; 
    border-radius: 10px;
    overflow: hidden;
    /*
    grid-auto-columns: minmax(300px, auto);
    grid-auto-rows: minmax(200px, auto);*/
}
.box-1{
    grid-column: 1/3;
    grid-row: 1/2;
    background: #fff;
    padding: 3rem 6rem 4rem 3.5rem;
}
h1{
    color: hsl(179, 62%, 43%);
    margin-bottom: 2rem;
}
.box-1 h3{
    
    color: hsl(71, 73%, 54%);
    margin-bottom: 1rem;
}
.box-1 p{
    color: hsl(218, 22%, 67%);
    line-height: 1.5;
}
.box-2{
    grid-column: 1/2;
    grid-row: 2/3;
    background: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    padding: 4rem 0rem 2rem 3.5rem;
}
.box-2 h3{
    font-size: 1.9rem;
    color: #fff;
    margin-bottom: 1.5rem;
}
.dollar{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}
.sub{
    position: relative;
    left: 1rem;
    bottom: 0.5rem;
    opacity: 0.5;
}
.bx2p{
   margin: 0.5rem 0rem 2.5rem 0rem;
}
button{
    font-weight: 700;
    color: hsl(204, 43%, 93%);
    background: hsl(71, 73%, 54%);
    border: none;
    padding: 1em 6em;
    border-radius: 5px;
    /*margin-bottom: 3.5rem;*/
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.box-3{
    grid-column: 2/3;
    grid-row: 2/3;
    background: hsl(179, 62%, 46%);
    color: hsl(204, 43%, 93%);
    padding: 4rem 0rem 3rem 3.5rem;
}
.box-3 h4{
    font-size: 1.8rem;
    color: #fff;
}
.box-3 pre{
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    margin-top: 1.5rem;
    line-height: 1.5;
    opacity: 0.9;
}
@media screen and (max-width: 375px) {
    .grid{
        grid-template-columns: 1fr;
        /*grid-template-rows: repeat(3, 1fr);*/
        /*grid-auto-rows: minmax(240px, auto);*/
        width: 32rem;
        margin: 40px 5px;
    }
    .box-1{
        grid-column: 1;
        grid-row: 1;
        padding: 3rem 2rem 2rem 2rem;
    }
    .box-1 h3{
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .box-1 > p{
        font-size: 1.4rem;
        line-height: 2;
        margin-bottom: 1rem;
    }
    .box-2{
        grid-column: 1;
        grid-row: 2;
    }
    .box-3{
        grid-column: 1;
        grid-row: 3;
    }
}